<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1>          User Login</h1>
            <div class="row g-3">

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Email Id</label>
                    <input name="email" [(ngModel)]="email" type="text" class="form-control">

                </div>
            <div class="row">
        
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Password</label>
                    <input name="password" [(ngModel)]="password" type="text" class="form-control">
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <button (click)="readValues()" class="btn btn-success">Login</button>
            </div>
            </div>
        <div>
            <a routerLink="/">User Signup</a>
            

        </div>

        </div>
        
    </div>
</div>

