<app-navbaradmin></app-navbaradmin>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
               <div class="text-center"> <h1>Admin Login</h1></div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Username</label>
                    <input name="username" [(ngModel)]="username"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Password</label>
                    <input name="password" [(ngModel)]="password" type="password" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValues()"class="btn btn-primary">Login</button>
                
                
                <div><a routerLink="/userlogin">user login</a></div>
                <div><a routerLink="/userreg">user registration</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

